Button {
	position: relative;
    border-radius: 4px;
	border-width: 3px;
	border-color: #444;
	background-color: wheat;
    transition: all 250ms ease-out-back;
	overflow: auto;
}

Button:enabled:hover {
	scale: 1.05;
}

Button:active {
	scale: 0.9;
}

.red {
	background-color: #e11d48;
}

.purple {
	background-color: #9333ea;
}

.blue {
	background-color: #2563eb;
}

.teal {
	background-color: #0d9488;
}

.green {
	background-color: #65a30d;
}

.orange {
	background-color: #ea580c;
}
