VisualElement#Root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;

	padding: 50px;
}

Label#SelectedTarget {
	font-size: 24px;
	color: #fff;
	text-align: center;

	-unity-font-style: bold;
	-unity-text-align: center;
}

Label#SelectedTarget.no-target {
	opacity: 0;
}
